.postMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.contentContainer {
  padding: 14px;
  max-width: 800px;
  overflow: hidden;
  position: relative;
}

.cover {
  border-radius: 8px;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
}

.contentContainer h1 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0;
  line-height: 1.4;
  min-height: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.contentContainer p {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #cfd8dc;
  font-weight: 400;
}

.tagsContainer {
  display: flex;
  gap: 10px;
  padding: 4px 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commentForm {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentForm:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(80, 80, 80);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 50%;
}

.form textarea,
.form button {
  font-size: 1rem;
  border: none;
}

.form textarea {
  width: 100%;
  padding: 10px;
  background-color: rgb(43, 45, 47);
  box-shadow: 0 0 0px 1px rgb(80, 80, 80);
  color: rgb(200, 200, 200);
  border: 1px solid transparent;
  outline: none;

  resize: none;
  padding: 8px 12px;
  line-height: 1.4;
  border-radius: 14px;
}

.form textarea:focus {
  box-shadow: 0 0 0px 1px rgba(200, 200, 200, 0.8);
}

.form textarea::placeholder {
  color: rgb(200, 200, 200);
}

.form button {
  max-width: fit-content;
  border-radius: 4px;
  padding: 6px 16px;
  background-color: rgb(0, 128, 255);
  cursor: pointer;
  color: aliceblue;
  transition: background-color 0.1s ease-out;
}

.form button:hover {
  background-color: rgb(17, 136, 255);
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 20px;
}

.comment {
  box-shadow:
    0 0 0px 1px rgb(80, 80, 80),
    1px 1px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
}

.commentHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment .message {
  margin-bottom: 1.2rem;
}
